body {
    background-image: url('/img/fundo.png');
    object-fit: cover;
}

.container {
    border: 6px solid #4D389E;
    width: 800px;
    height: 350px;
    margin-left: 520px;
    margin-top: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 40px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h3 {
    font-family: 'Lilita One', sans-serif;
    color: white;
    -webkit-text-stroke-width: 4px; 
    -webkit-text-stroke-color: #8C7ACE;
    font-size: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2px;
    text-shadow: 
        -2px -2px 5px #8C7ACE,  
         2px -2px 5cap #8C7ACE,
        -2px  2px 5px #8C7ACE,
         2px  2px 5px #8C7ACE;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

h2 {
    font-family: 'Lilita One', sans-serif;
    color: white;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #8C7ACE;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 1000;
    transform: translateY(-100px); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.container-link {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: 340px;
        margin-top: 190px;
    }
}