.container {
    width: 1200px;
    height: 700px;
    margin: 100px auto;
    border: 2px solid #4D389E;
    border-radius: 10px;
}

@media (min-width: 800px) {
    .container {
        width: 1000px;
        height: 550px;
    }
}